/* below 1024px */
@media (max-width: 64em) {
    html {
        font-size: 50%;
    }
}

/* below 608px */
@media (max-width: 38em) {
    html {
        font-size: 45%;
    }

    header {
        margin-bottom: 12rem;
        height: 50vh;
    }

    main {
        flex-direction: column;
    }

    h1 {
        line-height: 1.4;
    }

    .right {
        font-size: 2rem;
        text-align: center;
    }

    .between {
        top: 5rem;
        font-size: 1.6rem;
    }

    .message {
        margin-bottom: 4rem;
    }

    .modal {
        padding: 2rem;
    }

    .modal-title {
        font-size: 2.4rem;
    }

    .modal-text {
        padding: 1rem;
        font-size: 1.6rem;
        line-height: 1.6;
    }
}

@media (max-width: 35em) {
    html {
        font-size: 40%;
    }

    .modal-title {
        font-size: 2rem;
    }

    .modal-text {
        font-size: 1.5rem;
        line-height: 1.8;
    }
}
